---
BasedOnStyle: LLVM
ColumnLimit: 120
AlignAfterOpenBracket: DontAlign
BinPackLongBracedList: false
BracedInitializerIndentWidth: 2
BreakAfterOpenBracketBracedList: true
BreakBeforeCloseBracketBracedList: true
Cpp11BracedListStyle: Block
IndentCaseLabels: true
SortIncludes:
  Enabled: false
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1
