[submodule "vendor/raylib"]
	path = vendor/raylib
	url = git@github:raysan5/raylib.git
[submodule "vendor/clay"]
	path = vendor/clay
	url = gh:nicbarker/clay
[submodule "vendor/raygui"]
	path = vendor/raygui
	url = gh:raysan5/raygui
