# Build caches and artifacts
.cache/
.zig-cache/
zig-out
zig-pkg/
build

compile_commands.json
benchmark-result-*.json

# Other artifacts
*.csv
*.png
*.pdf
*.o

tests/test_cases_generator/test_cases_generator*
