[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendor/clay"]
	path = vendor/clay
	url = https://github.com/nicbarker/clay
[submodule "vendor/raygui"]
	path = vendor/raygui
	url = https://github.com/raysan5/raygui
[submodule "vendor/libccd"]
	path = vendor/libccd
	url = https://github.com/danfis/libccd
[submodule "vendor/google_benchmark"]
	path = vendor/google_benchmark
	url = gh:google/benchmark
[submodule "vendor/tracy"]
	path = vendor/tracy
	url = gh:wolfpld/tracy
